!YGameFrame/src
!YGameFrame/res/raw
!YGameFrame/res/drawable
!.gitignore
!YGameFrame/libs/

YGameFrame/.classpath
YGameFrame/.project
YGameFrame/.settings/
YGameFrame/AndroidManifest.xml
YGameFrame/bin/
YGameFrame/project.properties
YGameFrame/gen/